<div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let item of newsItems; let i = index" class="carousel-item" [class.active]="i === 0">
        <div class="carousel-item-content" [style.background-image]="'url(' + item.image + ')'">
          <div class="overlay"></div>
            <div class="carousel-caption d-md-block text-start">
                <h3 class="fw-bold text-white">{{item.title}}</h3>
                <p class="text-white">{{ item.text }}</p>
                <button class="btn btn-primary">Saber más</button>
            </div>
         </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>